[submodule "database-repo"]
	path = database-repo
	url = https://github.com/Kiran212-sketch/database-repo.git
[submodule "profile-management-db/database-repo"]
	path = profile-management-db/database-repo
	url = https://github.com/Kiran212-sketch/database-repo.git
[submodule "newrepo"]
	path = newrepo
	url = https://github.com/bhavya0607/newrepo.git
[submodule "UserManagement1"]
	path = UserManagement1
	url = https://github.com/Jeevan-source/UserManagement1.git
