[submodule "database-repo"]
	path = database-repo
	url = https://github.com/Kiran212-sketch/database-repo.git
[submodule "profile-management-db/database-repo"]
	path = profile-management-db/database-repo
	url = https://github.com/Kiran212-sketch/database-repo.git
